<p id="notice"><%= notice %></p>

<p>
  <b>Survey name:</b>
  <%= @survey.survey_name %>
</p>

<p>
  <b>Survey description:</b>
  <%= @survey.survey_description %>
</p>

<p>
  <b>Number to survey:</b>
  <%= @survey.number_to_survey %>
</p>

<p>
  <b>Survey guarunteed prize:</b>
  <%= @survey.survey_guarunteed_prize %>
</p>


<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
